@media all and (min-width:768px) and (max-width:1200px){
    header{
        width: 768px;
        height: 120px;
    }

    .logo{
        width: 184px;
        height: 60px;
        margin-top: -5px;
    }

    .navigation{
        width: 443px;
        height: 27px;
        left: 120px;
    }

    .pets{
        width: 768px;
        height: 1733px;
    }

    .cards-container{
        display: flex;
        flex-direction: row;
    }

    .first-row{
        display: flex;
        flex-direction: column;
        margin-top: -300px;
        margin-left: 70px;
        
    }

    .second-row{
        display: flex;
        flex-direction: column;
        margin-top: -290px;
        margin-left: -450px;
    }

    .pets-heading{
        width: 400px;
        height: 90px;
        top: -300px;
        left: 200px;
    }

    .card-first-row{
        margin-bottom: 80px;
    }

    .card-second-row{
        margin-bottom: 80px;
        
    }

    .card-button{
        position: absolute;
        margin-top: 330px;
        
    }

    #sophia{
        display: none;
    }

    #freddie{
        display: none;
    }

    .page-navigation{
        left: 230px;
        top: 150px;
    }

    footer{
        width: 768px;
        height: 639px;
    }

    footer img{
        top: 289px;
        left: -400px;
    }

    .locations{
        left: -50px;
    }
}