body{
    width: 1280px;
    margin:auto;
    
}

.background{
    background: url("start-screen-gradient-background.png");
    
}

.logo{
    position: relative;
    top:38px;
    left: 50px;
}

.logo_title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    align-items: center;
    
}

.logo_subtitle{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    display: flex;
    position: relative;
    top: -10px;

}

.navigation{
    display: flex;
    position: absolute;
    top: 50px;
    width: 600px;
    height: 27px;
    left: 930px;
    
}

ul li{
    display: inline-block;
    margin-left: 20px;
    
}

ul li a{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.link{
    text-decoration: none;
}

ul{
    list-style: none;
}

.start-page{   
    width: 1200px;
    height: 728px;
    left: 40px;
    top: 180px;
}

.start-page-content{
    width: 460px;
    height: 322px;
    left: 0px;
    top: 163px;
}

h2{
    display: flex;
    position: relative;
    top: 200px;
    left: 30px;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color:#FFFFFF;
}

.paragraph{
    display: flex;
    align-items: center;
    position: relative;
    top: 185px;
    left: 30px;
    color: #CDCDCD;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.button{
    display: flex;
    align-items: center;
    position: relative;
    top: 200px;
    left: 30px;
    height: 50px;
    width: 180px;
    background-color: #F1CDB3;
    border-radius: 100px;
    border: none;
}

.button div{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    display: flex;
    position: relative;
    left: 23px;
}

.start_page_puppy{
    display: flex;
    position: relative;
    left: 552px;
    top: -323px;
}

.about-page{
    display: flex;
    position: relative;
    width: 1280px;
    height: 588px;
    background-color: #FFFFFF;
}

.about-image{
    display: flex;
    position: relative;
    width: 300px;
    height: 408px;
    top: 100px;
    left: 200px;
}

.about-content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 750px;
    height: 380px;
    left: 400px;
    top: 70px;
}

.about-content-heading{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.about-paragraph-one{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about-paragraph-two{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #4C4C4C;
}

.pets-page{
    display: flex;
    position: relative;
    width: 1280px;
    height: 877px;
    background-color: #F6F6F6;;
}

.pets-content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1200px;
    height: 697px;
    left: calc(50% - 1200px/2);
    top: 80px;
}

.pets-heading{
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    left: 400px;
    letter-spacing: 0.06em;
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    
}

.slider{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1200px;
    height: 435px;
}

.arrow{
    display: flex;
flex-direction: column;
align-items: center;
padding: 23px 19px;
position: absolute;
width: 52px;
height: 52px;
left: 0px;
top: 192px;
border: 2px solid #F1CDB3;
box-sizing: border-box;
border-radius: 100px;
}

.katrine-card{
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;
    position: relative;
    left: 105px;
}

.card-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    background-color: #FFFFFF;
    position: absolute;
    width: 187px;
    height: 52px;
    left: 41.5px;
    top: 353px;
}

.card-button div{
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: #292929;
position: relative;
left: 40px;
top: 12px;
}

.card-text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    left: 90px;
    top: 40px;
    letter-spacing: 0.06em;
    color: #545454;

}

.jennifer-card{
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;
    position: relative;
    left: 465px;
    top: -297px;
}

.card-jennifer-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    background-color: #FFFFFF;
    position: absolute;
    width: 187px;
    height: 52px;
    left: 41.5px;
    top: 353px;
}

.card-jennifer-button div{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    position: relative;
    left: 40px;
    top: 12px;
}

.card-text-jennifer{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    left: 90px;
    top: 40px;
    letter-spacing: 0.06em;
    color: #545454;

}

.woody-card{
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;
    position: relative;
    left: 825px;
    top: -594px;
}

.card-woody-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    background-color: #FFFFFF;
    position: absolute;
    width: 187px;
    height: 52px;
    left: 41.5px;
    top: 353px;
}

.card-woody-button div{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    position: relative;
    left: 40px;
    top: 12px;
}

.card-text-woody{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    left: 90px;
    top: 40px;
    letter-spacing: 0.06em;
    color: #545454;

}

.rightarrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 19px;
    position: absolute;
    width: 52px;
    height: 52px;
    left: 1150px;
    top: 192px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    transform: rotate(-180deg);

}

.gettoknow-button{
    display: flex;
    align-items: center;
    position: relative;
    top: 60px;
    left: 460px;
    height: 50px;
    width: 300px;
    background-color: #F1CDB3;
    border-radius: 100px;
    border: none;
}

.gettoknow-button div{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    display: flex;
    position: relative;
    left: 57px;
}

.help-page{
    display: flex;
    position: relative;
    width: 1280px;
    height: 611px;
    background-color: #FFFFFF;
}

.help-content{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 1200px;
    height: 431px;
    left: 40px;
    top: 85px;
}

.help-heading{
    display: flex;
    position: relative;
    width: 308px;
    height: 90px;
    text-align: center;
    align-items: center;
    left: 434px;
    top: -50px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
}

.help-list{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 1026px;
    height: 281px;
    left: 37px;
}

.help-list-row-one{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1026px;
    height: 140.5px;
}

.help-list-row-two{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1026px;
    height: 140.5px;
}

.pet-food{
    display: flex;
    position: relative;
    width: 82px;
    height: 113px;
    margin-left: 154px;
    flex-direction: column;
}

.transportaion{
    display: flex;
    position: relative;
    width: 82px;
    height: 113px;
    margin-left: 154px;
    flex-direction: column;
}

.toys{
    display: flex;
    position: relative;
    width: 82px;
    height: 113px;
    margin-left: 154px;
    flex-direction: column;
}

.bowls-and-cups{
    display: flex;
    position: relative;
    width: 82px;
    height: 113px;
    margin-left: 154px;
    flex-direction: column;
}

.shampoos{
    display: flex;
    position: relative;
    width: 82px;
    height: 113px;
    margin-left: 154px;
    flex-direction: column;
}

.help-list-row-one img{
    position: relative;
    right: 100px;
}

.pet-food div{
    display: flex;
    position: relative;
    width: 82px;
    height: 23px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    top: 30px;
    left: -110px;
}

.transportaion div{
    display: flex;
    position: relative;
    width: 82px;
    height: 23px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    top: 30px;
    left: -130px;
}

.toys div{
    display: flex;
    position: relative;
    width: 82px;
    height: 23px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    top: 30px;
    left: -90px;
}

.bowls-and-cups div{
    display: flex;
    position: relative;
    width: 150px;
    height: 23px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    top: 30px;
    left: -132px;
}

.shampoos div{
    display: flex;
    position: relative;
    width: 82px;
    height: 23px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    top: 30px;
    left: -125px;
}

.help-list-row-two img{
    position: relative;
    right: -20px;
    top: 30px;
}

.vitamins{
    display: flex;
    position: relative;
    width: 82px;
    height: 113px;
    margin-left: 154px;
    flex-direction: column;
}

.medicines{
    display: flex;
    position: relative;
    width: 82px;
    height: 113px;
    margin-left: 154px;
    flex-direction: column;
}

.collars-and-leashes{
    display: flex;
    position: relative;
    width: 82px;
    height: 113px;
    margin-left: 154px;
    flex-direction: column;
}

.sleeping-areas{
    display: flex;
    position: relative;
    width: 82px;
    height: 113px;
    margin-left: 154px;
    flex-direction: column;
}

.vitamins div{
    display: flex;
    position: relative;
    width: 82px;
    height: 23px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    top: 60px;
    left: 10px;
}

.medicines div{
    display: flex;
    position: relative;
    width: 82px;
    height: 23px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    top: 55px;
    left: 0px;
}

.collars-and-leashes div{
    display: flex;
    position: relative;
    width: 150px;
    height: 23px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    top: 60px;
    left: -20px;
}

.sleeping-areas div{
    display: flex;
    position: relative;
    width: 150px;
    height: 23px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    top: 55px;
    left: -15px;
}

.donation-page{
    display: flex;
    position: relative;
    width: 1280px;
    height: 462px;
    background: #F6F6F6;
}

.donation-content{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 915px;
    height: 282px;
    left: 182.5px;
    top: 90px;
}

.donation-dog{
    display: flex;
    position: relative;
    width: 505px;
    height: 261px;
}

.content-donation{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 380px;
    height: 282px;
}

.donation-heading{
    display: flex;
    position: relative;
    width: 300px;
    height: 90px;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    left: 20px;
    top: -50px;
}

.donation-subheading{
    display: flex;
    position: relative;
    width: 400px;
    height: 17px;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    left: 20px;
    top: -80px;
}

.credit-card{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 349px;
    height: 43px;
    align-items: center;
    background-color: #F1CDB3;
    border-radius: 9px;
    left: 20px;
    top: -70px;
}

.credit-card img{
    display: flex;
    position: relative;
    left: 10px;
}

.credit-card p{
    display: flex;
    position: relative;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    left: 21px;
}

.legal-information p{
    display: flex;
    position: relative;
    width: 380px;
    height: 72px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    color: #B2B2B2;
    left: 20px;
    top: -60px;
}

footer{
    display: flex;
    position: relative;
    width: 1280px;
    height: 350px;
    background: url("footer-gradient-background.png");
}

.footer-content{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1200px;
    height: 310px;
    top: 40px;
    left: 40px;
    
}

.footer-contacts{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 287px;
    height: 234px;
    top: 16px;
}

.locations{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 302px;
    height: 234px;
    top: 16px;
}

footer img{
    display: flex;
    position: relative;
    left: 300px;
}

.footer-contacts p{
    display: flex;
    position: relative;
    width: 320px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    top: -50px;
}

.email{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 251px;
    height: 32px;
}

.email img{
    display: flex;
    position: relative;
    top: -50px;
    left: 0px;
}

.email a{
    display: flex;
    position: relative;
    top: -50px;
    left: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.phone-number{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 239px;
    height: 32px;
}

.phone-number img{
    display: flex;
    position: relative;
    top: -30px;
    left: 0px;
}

.phone-number a{
    display: flex;
    position: relative;
    top: -25px;
    left: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.locations p{
    display: flex;
    position: relative;
    width: 320px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    top: -50px;
    left: 150px;
}

.location-one{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 302px;
    height: 46px;
}

.location-one img{
    display: flex;
    position: relative;
    top: -50px;
    left: 150px;
}

.boston{
    display: flex;
    position: relative;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
    top: -55px;
    left: 160px;
}

.location-two{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 302px;
    height: 32px;
}

.location-two img{
    display: flex;
    position: relative;
    top: -40px;
    left: 150px;
}

.london{
    display: flex;
    position: relative;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
    top: -35px;
    left: 160px;
}

.navigation ul li a:hover{
    color: #FFFFFF;
}
